<h1>Listing people</h1>

<table>
  <tr>
    <th>Num empleado</th>
    <th>Nombre</th>
    <th>Dependencia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.num_empleado %></td>
    <td><%= person.nombre %></td>
    <td><%= person.dependencia %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
