<p id="notice"><%= notice %></p>

<p>
  <b>Num empleado:</b>
  <%= @person.num_empleado %>
</p>

<p>
  <b>Nombre:</b>
  <%= @person.nombre %>
</p>

<p>
  <b>Dependencia:</b>
  <%= @person.dependencia %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
