<!DOCTYPE html>
<html>
<head>
  <title>Sorteos</title>
  <%= stylesheet_link_tag    "application", "styles" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
